<button mat-raised-button color="primary" routerLink="create">Create</button>
<div class="row">
  <mat-tab-group
    (selectedIndexChange)="handleChangeTab($event)"
    [selectedIndex]="selectedIndex"
  >
    <mat-tab label="Ingress">
      <app-movement-list
        [movementList]="movementsTypeIngress$ | async"
      ></app-movement-list>
    </mat-tab>
    <mat-tab label="Egress">
      <app-movement-list
        [movementList]="movementsTypeEgress$ | async"
      ></app-movement-list>
    </mat-tab>
  </mat-tab-group>
</div>
